{% load static %}

{% comment %} {% if offline_imports %} {% endcomment %}
    {# load from source #}
    {% comment %} <link rel="stylesheet" href="{% static 'comment/css/comment.min.css' %}"> {% endcomment %}
{% comment %} {% else %} {% endcomment %}
    {# load from url #}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'comment/tailwindcss/tailwind.config.js' %}"></script>
    <link rel="stylesheet" href="{% static 'comment/tailwindcss/style.css' %}">
{% comment %} {% endif %} {% endcomment %}
